@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
body {
    font-family: 'Fira Code', monospace;
}

.container {
    width: 88%;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
}

input, button {
    margin: 10px 0;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    font-family: 'Fira Code', monospace;
    font-size: x-small;
}
